.skin-blue .user-panel>.info,
.skin-blue .user-panel>.info>a {
 color: #434C5E !important;
}

.skin-blue .user-panel {
    padding: 10px;
        padding-left: 3px;
}

.user-panel .img-circle {
    border-radius: 0%;
}
.content {
  padding-top: 60px;
}

a.disabled {
background-color: #5564858B;
border-left:#222d32;
cursor: default;
}

a.disabled:hover{
background-color: #5564858B !important;
color:#b8c7ce  !important;
border-left:#222d32  !important;
cursor: default  !important;
}

figure { text-align: center }

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00e673; /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.body{
  font-family: sans-serif;
}
